:root {
    --red-crayola: #EF004Fff;
    --federal-blue: #09005Dff;
    --lavender-web: #EAEAFCff;
    --majorelle-blue: #5141E7ff;
    --white: #FFFFFFff;
}

.main {
    background-color: var(--lavender-web);
    width: 100%;
    position: absolute;
    padding: 0%;
    margin: 0%;
}

.body {
    padding: 5%;
}

