:root {
    --red-crayola: #EF004Fff;
    --federal-blue: #09005Dff;
    --lavender-web: #EAEAFCff;
    --majorelle-blue: #5141E7ff;
    --white: #FFFFFFff;
}

.backButton {
    background-color: var(--majorelle-blue) !important;
    gap: 1em !important;
    display: flex !important;
    align-items: center !important; 
    padding-inline: 2em !important;
    font-size: 1em !important;
}

.backButton:hover{
    background-color: var(--red-crayola) !important;
}