.container {
    background-color: var(--white);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}
.priceItemFederalBlue {
  color: var(--majorelle-blue) !important;
}
  
.title {
    color: var(--majorelle-blue);
    font-size: 1.3em;
    font-weight: 1000;
    margin-right: 2%;
}
  
.priceContainer {
    gap: 0;
    margin-right: auto;
}
.priceContainer * {
    color: var(--majorelle-blue);
}

.priceItemHighlighted {
    color: var(--red-crayola);
    font-size: 1.3em;
}

.priceItemBold {
    font-weight: bold;
}

.bigUnit {
    font-size: smaller;
    font-weight: lighter;
}

.smallUnit {
    font-size: smaller;
}

.decreaseIcon {
    
    color: var(--federal-blue) !important;
    font-size: large !important;
}

.subPriceItem {
    font-size: 0.8em;
    font-weight: lighter;
}

.deliveryInfo {
    font-size: 0.9em;
}

.exw {
    border: solid 0.1em;
    border-radius: 0.3em;
    margin-left: 0.3em;
    padding: 0.1em;
}

.oldPrice {
    color: grey;
    font-style: oblique;
    text-decoration: line-through dashed;
    width: fit-content;
}

.priceItemDecrease {
    color: var(--majorelle-blue);
    font-weight: bold;

}
  